# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
venv/
.env/

# Jupyter
.ipynb_checkpoints/

# Data (do not push RTI PDFs)
data/rti_docs/*
!data/rti_docs/.gitkeep

# OS
.DS_Store
Thumbs.db

# Logs
*.log
